<div class="content">
  <div class="row align-items-center">
    <div class="col-12 text-center mt-3">
      <img src="{{urlLogo}}" class="logoComplete">
    </div>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-4 text-center">
      <hr class="textColorGray-0">
    </div>
    <div class="col-4 text-center">
      <button class="icon-social me-5" type="button">
        <i class="fa-brands fa-whatsapp"></i>
      </button>
      <button class="icon-social me-5" type="button">
        <i class="fa-brands fa-facebook"></i>
      </button>
      <button class="icon-social me-5" type="button">
        <i class="fa-brands fa-instagram"></i>
      </button>
      <button class="icon-social me-5" type="button">
        <i class="fa-brands fa-twitter"></i>        
      </button>
      <button class="icon-social me-5" type="button">
        <i class="fa-brands fa-linkedin"></i>    
      </button>
    </div>
    <div class="col-4 text-center">
      <hr class="textColorGray-0">
    </div>
  </div>
  <div class="row align-items-center m-2">
    <div class="col-12 text-center">
      <label class="textColorGray-0">Copyright © 2013 DACT CHEMICAL S.A.S . All Rights Reserved.</label>
      <br>
    </div>
  </div>
</div>