#*********GO**************
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

#*********Visual**************
*/.vscode


#********Terraform************
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json


*.terraformrc
terraform.rc