<form [formGroup]="formPresentation">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!presentation?.Id">Crear presentaciones</h4>
    <h4 class="modal-title" *ngIf="presentation?.Id">Actualizar presentaciones</h4>
    <button type="button" class="btn-close rounded-pill" aria-label="Close" (click)="close()"></button>
  </div>

  <div class="modal-body">

    <div class="m-3 row">
      <label for="name" class="col-2 col-form-label m-2">Nombre</label>
      <div class="col-9 m-2">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <div class="m-3 row">
      <label for="posicion" class="col-2 col-form-label m-2">Posición</label>
      <div class="col-9 m-2">
        <input type="number" class="form-control" id="posicion" formControlName="position">
      </div>
    </div>
    <div class="m-3 row">
      <label for="product" class="col-2 col-form-label m-2">Producto</label>
      <div class="col-9 m-2">
        <select  class="form-select" id="product" formControlName="productId">
          <option *ngFor="let product of products" [ngValue]="product.Id">
            {{product.name}}
          </option>  
        </select>
      </div>
    </div>
    <app-attached (submitAttached)="submitAttached($event)" [attached]="presentation ? presentation.attached : attached">
    </app-attached>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn rounded-pill" (click)="close()">Cancelar</button>
    <button type="submit" class="btn rounded-pill" (click)="create()" *ngIf="!presentation?.Id" [disabled]="!formPresentation.valid">Crear</button>
    <button type="submit" class="btn rounded-pill" (click)="update()" *ngIf="presentation?.Id" [disabled]="!formPresentation.valid">Update</button>
  </div>
</form>