<form [formGroup]="formBanner">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!banner?.Id">Crear banner</h4>
    <h4 class="modal-title" *ngIf="banner?.Id">Actualizar banner</h4>
    <button type="button" class="btn-close rounded-pill" aria-label="Close" (click)="close()"></button>
  </div>

  <div class="modal-body">

    <div class="m-3 row">
      <label for="name" class="col-2 col-form-label m-2">Nombre</label>
      <div class="col-9 m-2">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <div class="m-3 row">
      <label for="posicion" class="col-2 col-form-label m-2">Posición</label>
      <div class="col-9 m-2">
        <input type="number" class="form-control" id="posicion" formControlName="position">
      </div>
    </div>
    <app-attached (submitAttached)="submitAttached($event)" [attached]="banner? banner.attached : {}">
    </app-attached>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn rounded-pill" (click)="close()">Cancelar</button>
    <button type="submit" class="btn rounded-pill" (click)="create()" *ngIf="!banner?.Id" [disabled]="!formBanner.valid">Crear</button>
    <button type="submit" class="btn rounded-pill" (click)="update()" *ngIf="banner?.Id" [disabled]="!formBanner.valid">Actualizar</button>
  </div>
</form>